<div class="modal-dialog " style="margin:auto">
   <div class="modal-content" style="width:auto">
   <button type="button"  class="close btn btn-lg " data-dismiss="modal" aria-hidden="true"></button>
   <div class="modal-body">
     <div id="exTab2" class="container"> 
  <ul class="nav nav-tabs">
      <li class="active">
        <a  href="#1" data-toggle="tab">Sort</a>
      </li>
     
    </ul>
    <div class="tab-content ">
      <div class="tab-pane active" id="1">
       <div>
         <div style="margin-top:10px">
           <a  class='sortby' style="font-size:x-large" data-key='modifiedtime'><i class="fa fa-clock-o fa-1x" data-key='modifiedtime'></i><span data-key='modifiedtime'>  by modified time</sapn></a>
         </div>
         <div style="margin-top:10px">
          <a href="" class='sortby' style="font-size:x-large" data-key='createdtime'><i class="fa fa-clock-o "  data-key='createdtime'></i><span  data-key='createdtime'>  by created time</sapn></a>
           
         </div>
         <div style="margin-top:10px">
           <a  class='sortby'  style="font-size:x-large" data-key='alphabet'><i class="fa fa-sort-alpha-asc " data-key='alphabet'></i><span data-key='alphabet'>  alphabetically</sapn></a>
          
         </div>
         <div style="margin-top:10px">
         <a class='sortby'  style="font-size:x-large" data-key='reminder'><i class="fa fa-bell " data-key='reminder'></i><span data-key='reminder'>  reminder time</sapn></a>
         
         </div>
       </div>
      </div>
      <div class="tab-pane" id="2">
        <h3>Notice the gap between the content and tab after applying a background color</h3>
      </div>
      <div class="tab-pane" id="3">
        <h3>add clearfix to tab-content (see the css)</h3>
      </div>
    </div>
  </div>
   </div>
   </div>
</div>

