 <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-6 col-xs-12">
        {{#when type 'eq' 'message'}}
          <span class="label label-info">Password reset done.Please login with new password</span>
        {{else}}
          <form role="form" class="form-horizontal " >
         
          <div class="form-group">
            <label  class="col-sm-3 control-label">Password
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                <input type="password" class="form-control" name='password' placeholder="*******" /> 
              <span class="input-group-addon showpassword" ><a href='#' style="color:black"><i class="fa fa-eye"></i></a></span>
            </div>
            </div>
         </div>
       
          <div class="form-group">
            <label for="exampleInputPassword1" class="col-sm-3 control-label">
                Renter Password</label>
            <div class="col-sm-9">
            
                <input type="password" class="form-control" name='confirmpassword' placeholder="*******" /> 
              
           
               
            </div>
        </div>
         
          <div class='form-group'>
            <input type="button" class="col-sm-offset-5 col-sm-4 btn btn-primary resetpassowrd hidden-xs" value="Reset"/>
            <input type="button" class="col-xs-offset-3 col-xs-6 btn btn-primary resetpassowrd visible-xs" value="Reset"/>
          </div>
        
         
        </form>

        {{/when}}
          
        </div>
         <div class="col-sm-3 col-xs-12"></div>
      
