  <div class="noteshare" >
      <div class="col-sm-2 col-xs-12"></div>
      <div class="col-sm-8 col-xs-12">
        <div><h3>{{note.subject}}<span class='pull-right'><button class="btn btn-success addtomynote" >Add to my note</button></span></div>
        <div><br><b>Shared by</b>: {{sharer.email}}</div>
        <div ><p>{{{note.content}}}</p></div>
        
      </div>
     
      <div class="col-sm-2 col-xs-12"></div>
    </div>